[mysqld]
datadir=/usr/local/mysql/data
socket=/tmp/mysql.sock
user=mysql
symbolic-links=0
skip-host-cache
skip-name-resolve
expire_logs_days=1
bind-address = 0.0.0.0

[mysqld_safe]
log-error=/usr/local/mysql/data/mysqld.log
pid-file=/usr/local/mysql/data/mysqld.pid
wsrep_on=ON
wsrep_provider=/usr/local/mysql/lib/libgalera_smm.so
wsrep_cluster_address="gcomm://"
